*{
    margin: 0;
    padding: 0;
}


.bg-img{
background-image: url('./img/images.jpg');
height: 700px;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
.navbar{
    text-align: center;
    background-color: red;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.navbar a{
   padding: 10px;
   text-decoration: none;
   font-size: 20px;
}
.after-scroll-navbar{
    background-color: greenyellow;
   
}